---
import Layout from '../layouts/Layout.astro';
import CyclingTracker from '../components/CyclingTracker.astro';
---

<Layout title="Cycling Recovery Tracker">
  <main style="background-color: grey; margin: 0; padding: 0;">
    <CyclingTracker />
  </main>
</Layout>
